src/main/mule/mm-devops-test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5188473d-5697-4b65-b07d-f421fdc83a78" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mm-devops-testFlow" doc:id="2b723d2b-5974-4eb7-92d4-bc421a99c1fb" >
		<http:listener doc:name="Listener" doc:id="4f506610-bd97-4c39-aa0e-d99c87aa4594" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="12650dc2-9d0c-420b-a8f3-16970a452694" message="#[payload]"/>
		
		
	</flow>
</mule>
